# Don't share and old versions of files
*old.*

# Ignore these directories
bin/
include/
lib/
local/
tmp/
temp/

Include/
Lib/
Scripts/
tcl/
etc/
share/

# Ignore dev environment project files
*.vscode
*.sublime-project
*.sublime-workspace
*.code-workspace

# Ignore gitattributes
.gitattributes

# Ignore non-public config environment files
config.dev.json
config.prod.json

# Ignore the pip-selfcheck
pip-selfcheck.json

# Ignore .pyc files
*.pyc

# Ignore venv files
pyvenv.cfg

# Ignore supplemental clips, but keep some sensible defaults
clips/*
!clips/movies/*
!clips/internet/*

# Ignore logs
*.log
*/log/*.log